*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

venv/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*
.ns3rc

build-dir/
build/
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
cmake-*/
vcpkg/

.vs/

# Ignore local cache used by e.g. clangd
.cache/

# Ignore Results folder
Results/

# 1) First, make sure nothing under trace-based is implicitly ignored:
!contrib/nr/utils/channels/trace-based/**

# 2) Now ignore all scenario subfolders…
contrib/nr/utils/channels/trace-based/Scenarios/**

# 3) …but re-include only BostonStreetCanyon and Etoile (and all their contents):
!contrib/nr/utils/channels/trace-based/Scenarios/BostonStreetCanyon/**
!contrib/nr/utils/channels/trace-based/Scenarios/Etoile/**


